extends layouts/layout

block block_css
    link(rel='stylesheet', href='/css/common.css')
    
block block_js
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    script(type="text/javascript", src="/js/createquestion.js")

block block_body
    div Create Question
        
    form(id="form", method="POST", class="form-horizontal")            
        div(class="form-group")
            label(for="inputTitle", class="col-sm-2 control-label") Título
            div(class="col-sm-3")
                input(type="text", class="form-control", id="title", placeholder="Insira o título da questão")        
        
        div(class="form-group")
            label(for="inputAnswers", class="col-sm-2 control-label") Respostas:            

        - for (var i = 1; i <= 4; i++) {        
        div(class="form-group")
            label(for="inputCode"+i, class="col-sm-2 control-label") ID código
            div(class="col-sm-3")
                input(type="text", class="form-control", id="code"+i, value=i, readonly="readonly")        
        
        div(class="form-group")
            label(for="inputAnswer"+i, class="col-sm-2 control-label") Resposta
            div(class="col-sm-3")
                input(type="text", class="form-control", id="answer"+i, placeholder="Insira a "+i+" resposta")        
        
        div(class="form-group")
            label(for="inputCompetencies"+i, class="col-sm-2 control-label") Competências:

        div(id="idCompetencies"+i)
            div(class="form-group")
                div(class="col-sm-offset-2 col-sm-10")
                    div(class="checkbox", style="width: 500px;")
                        div(class="form-inline")
                        
                            each val in _dbresult_
                                label(class="checkbox-inline")
                                    input(type="checkbox", id="inlineCheckbox#{val.name}"+i, value="option#{val.name}"+i) 
                                    = val.name
                                    input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{val.name}"+i)
                        
                        //
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[0].name}"+i, value="option#{_dbresult_[0].name}"+i) 
                                = _dbresult_[0].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[0].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[1].name}"+i, value="option#{_dbresult_[1].name}"+i) 
                                = _dbresult_[1].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[1].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[2].name}"+i, value="option#{_dbresult_[2].name}"+i) 
                                = _dbresult_[2].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[2].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[3].name}"+i, value="option#{_dbresult_[3].name}"+i)
                                = _dbresult_[3].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[3].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[4].name}"+i, value="option#{_dbresult_[4].name}"+i) 
                                = _dbresult_[4].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[4].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[5].name}"+i, value="option#{_dbresult_[5].name}"+i) 
                                = _dbresult_[5].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[5].name}"+i)
                            label(class="checkbox-inline")
                                input(type="checkbox", id="inlineCheckbox#{_dbresult_[6].name}"+i, value="option#{_dbresult_[6].name}"+i) 
                                = _dbresult_[6].name
                                input(type="text", class="form-control input_competencies_value", id="inputCheckbox#{_dbresult_[6].name}"+i)
        - }
        
        div(class="form-group")
            label(for="inputIntroduction", class="col-sm-2 control-label") Introdução
            div(class="col-sm-3")
                input(type="text", class="form-control", id="introduction", placeholder="Insira um link de vídeo")
    
        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                button(type="submit", class="btn btn-default") Submeter
